
/.idea
DrawingApp/.idea/deploymentTargetDropDown.xml
/DrawingApp/.idea
/firebasetest
/functions/venv/Lib/site-packages/pip/_internal
/functions/venv/Lib/site-packages/pip
/functions/venv/Lib
/test/venv/Lib
/functions/venv
